@{
    ViewData["Title"] = "Home Page";
}

@model ViewModel.ViewModels.PersonViewModel

<h4>List of people</h4>

<table class="table">
    @foreach (var item in Model.People)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
            <td>@item.City</td>
            <td>
                <form method="post">
                    @Html.ActionLink("Delete", "Delete", "Home", new { Name = item.Name, PhoneNumber = item.PhoneNumber, City = item.City })
                </form>
            </td>
        </tr>
    }

</table>

<form asp-action="Person" asp-controller="Home">
    <input type="text" name="SearchString" class="form-control-sm" placeholder="Search by city" />
    <input type="submit" value="Filter" class="btn btn-primary" />
    <div class="form-check-inline">
        <input type="checkbox" asp-for="CaseSensitive" name="CaseSensitive" class="form-check-input" style="margin-left:10px" />
        <label class="form-check-label" asp-for="CaseSensitive" style="margin-left:5px"></label>
    </div>
    <br />
    <div style="margin:5px">
        @Html.ActionLink("Sort by name and city - A-Ö", "Person", "Home", new { SortByNameAndCity = true })
        <br />
        @Html.ActionLink("Sort by name and city - Ö-A", "Person", "Home", new { SortNamesBackwards = true })
    </div>
</form>